.block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  border: 5px solid black;
  width: 280px;
  height: 480px;
  margin-left: 40%;
  margin-top: 8%;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
}

.polls {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: flex-start;
  justify-content: space-between;
}

body {
  font-size: 25px;
}
button {
  width: 70px;
  height: 70px;
  font-size: 30px;
  color: black;
}

.btn-2 {
  background-color: red;
}
.btn-1 {
  background-color: red;
}
.btn-4 {
  background-color: red;
}
.btn-3 {
  background-color: red;
}
.btn-5 {
  background-color: red;
}
.btn-6 {
  background-color: red;
}
.ravno {
  background-color: red;
}
.polevivoda {
  font-size: 50px;
}

@media screen and (max-width: 576px) {
  .block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    border: 5px solid black;
    width: 280px;
    height: 480px;
    margin-left: 11%;
    margin-top: 15%;
  }
}
